.DS_Store
lazygit/.config/lazygit/state.yml
karabiner/.config/karabiner/automatic_backups/*
zsh/.config/zsh/*local*.zsh
tmux/.config/tmux/*local*.conf
nvim/.config/nvim-lazyvim/lua/plugins/*local*.lua
yazi/.config/yazi/flavors
