# Basic Snippets
snippet : "key: value"
	${1:key}: ${2:value}

snippet :f "method: func(...) { ... }"
	${1:method_name}: function (${2:arguments}) {
		${3:// body...}
	}

snippet fun "function name(...) { ... }"
	function ${1:function_name}(${2:arguments}) {
		${3:// body...}
	}

snippet timeout "setTimeout(function() { ... })"
	setTimeout(function () {
		${2}
	}, ${1});

# Log Snippets
snippet log "console.log(...)"
	console.log('${1}', ${2:$1});

snippet al "alert(...)"
	alert(${1});
